aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
dateparser==0.7.6
Django==3.0.8
humanize==2.4.1
idna==2.10
maya==0.6.1
multidict==4.7.6
pendulum==2.1.0
python-dateutil==2.8.1
pytz==2020.1
pytzdata==2019.3
regex==2020.6.8
requests==2.24.0
six==1.15.0
snaptime==0.2.4
sqlparse==0.3.1
tzlocal==2.1
urllib3==1.25.9
yarl==1.4.2
