{% extends "base_generic_three.html" %}

{% block content %}
  <h1>Web Learn Home Threeleg</h1>
  <p>Welcome to Web Learn, a web application based on the Django tutorial at <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django"><em>Mozilla Developer Network</em></a></p>
  Web Learn demonstrates making REST API calls to Blackboard Learn(tm) from the Django web framework,
  using both 2-legged authentication and 3-legged authentication.
  <h2>Dynamic content</h2>
  <p>Here, we made the only possible unauthenticated REST request 
    /learn/api/public/v1/system/version to the following Blackboard Learn server
    with the result shown below:</p>
  <ul>
    <li><strong>Learn Server:</strong> {{ learn_server }}</li>
    <li><strong>Version JSON:</strong> {{ version_json }}</li>
  </ul>
{% endblock %}